body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    animation: moveTable 4s infinite alternate;
    position: relative;
    overflow: hidden;
}

h1 {
    text-align: center;
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: #333;
}

table {
    width: 30%;
    margin: 20px auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-collapse: collapse;
    animation: moveTable 10s infinite ease-in-out;
    border: 5px solid black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 1s ease;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 2px solid black;
}

th {
    background-color: #4caf50;
    color: white;
    font-size: 1.2rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #e0e0e0;
}

tr:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

@keyframes moveTable {
    0% {
        top: 0;
        left: 0;
        border-color: #4caf50;
    }
    25% {
        top: 0;
        left: calc(100vw - 80%);
        border-color: red;
    }
    50% {
        top: calc(100vh - 330px);
        left: calc(100vw - 80%);
        border-color: black;
    }
    75% {
        top: calc(100vh - 30px);
        left: 0px;
        border-color: gray;
    }
    100% {
        top: 0;
        left: 0;
        border-color: red;
    }
}